IG9GGV_1005/KL_mozi1.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT mozi (film)*>
	<!ELEMENT film (rendezo+, szinesz, iro)>
		<!ATTLIST film id ID #REQUIRED>
		<!ATTLIST film mufaj CDATA #REQUIRED>
		<!ELEMENT rendezo (#PCDATA)>
			<!ATTLIST rendezo id ID #REQUIRED>
			<!ATTLIST rendezo nev CDATA #REQUIRED>
		<!ELEMENT szinesz (#PCDATA)>
			<!ATTLIST szinesz id ID #REQUIRED>
			<!ATTLIST szinesz nev CDATA #REQUIRED>
		<!ELEMENT iro (#PCDATA)>
			<!ATTLIST iro id ID #REQUIRED>
